body{
    background-color: #3D5CC8;
    margin-top: 5%;
    margin-left: 35%;
}


main{
      align-items: center;

}
.time-display{
    display: flex;
   margin:30px;
    align-content: center;
    background-color: #D3D9ED;
    width: 300px;
    height: 50px;
   padding: 10px;
    align-items: center;

}


.time-display img{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
}

#clock{
    font-size: 3rem;
    font-weight: bold;
    color: black;

}
.setAlarm{
  align-items: center;
  padding:5px;
  margin:30px;
  width:100%;
  
}

.alarm-heading{
    color: whitesmoke;
    margin-bottom: 20px;
    padding-top: 50px;
  font-size: 40px;
}

.set-alarm-input{
    width:100%;
    margin:10px;
    height: 40px;
   
}

.buttons button{
    background-color: #28D01D;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight:bold;
  align-content: center;
   margin:30px;
  margin-left: -10px;
}



#alarmslist{
    list-style-type: none;
}

#alarmslist li{
    font-size: 25px;
    color: whitesmoke;
    background-color: ;
    height: 2rem;
    margin-left: -30px;
   background-color: #9A3198;
    padding:10px;
    width: 300px;
    margin: 10px;

}

.alarms-list{
    display: flex;
   background-color: #9A3198;
}


.alarms-list span{
  
    width: 160px;
    margin-right: 18px;
    
}

.alarms-list button{
    background-color: black;
    height: 40px;
    color: whitesmoke;
}